<?xml version="1.0"?>
<robot name="racecar" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="car_sensors" params="NOISE_MAG">

<xacro:unless value="$(optenv DISABLE_GAZEBO_LASER false)">
  <gazebo reference="hoyuko_laser_link">
    <material>Gazebo/Grey</material>
    <sensor type="ray" name="hokuyo_sensor">
      <pose>0 0 0.0124 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>1081</samples>
            <resolution>1</resolution>
            <min_angle>-2.3561944902</min_angle>
            <max_angle>2.3561944902</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <mean>0.1</mean>
          <stddev>${NOISE_MAG*0.5}</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>racecar/out/laser_scan</topicName>
        <frameName>hoyuko_laser_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
</xacro:unless>


  <gazebo reference="kinect_link">
      <sensor name="camera" type="depth">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>20</update_rate>
        <camera>
          <horizontal_fov>1.047198</horizontal_fov>
          <image>
            <width>320</width>
            <height>240</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>8</far>
          </clip>
        </camera>
    <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
      <baseline>0.2</baseline>
      <alwaysOn>true</alwaysOn>
      <updateRate>30.0</updateRate>
      <cameraName>sim_depth_camera</cameraName>
      <imageTopicName>/racecar/out/stereo_camera/rgb/image</imageTopicName>
      <cameraInfoTopicName>/racecar/out/stereo_camera/rgb/camera_info</cameraInfoTopicName>
      <depthImageTopicName>/racecar/out/stereo_camera/depth/image</depthImageTopicName>
      <depthImageInfoTopicName>/racecar/out/stereo_camera/depth/camera_info</depthImageInfoTopicName>
      <pointCloudTopicName>/racecar/out/stereo_camera/depth_cloud/points</pointCloudTopicName>
      <frameName>camera_link_optical</frameName>
      <pointCloudCutoff>0.05</pointCloudCutoff>
      <distortionK1>0</distortionK1>
      <distortionK2>0</distortionK2>
      <distortionK3>0</distortionK3>
      <distortionT1>0</distortionT1>
      <distortionT2>0</distortionT2>
      <CxPrime>0</CxPrime>
      <Cx>0</Cx>
      <Cy>0</Cy>
      <focalLength>0</focalLength>
      <hackBaseline>0</hackBaseline>
    </plugin>
    </sensor>
    </gazebo>

</xacro:macro>
</robot>