<launch>
    <rosparam  command="load" file="$(find auto_rc_car_control)/config/auto_rc_car_controls.yaml"/>

        <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          ns="racecar/internal"
          output="screen"
          args="joint_state_controller
                steering_controller
                right_front_controller
                left_front_controller
                right_rear_controller
                left_rear_controller"/>
</launch>