<launch>
  <include file="$(find auto_rc_car_worlds)/launch/blocks_world.launch"/>
  <include file="$(find auto_rc_car_description)/launch/spawn_car.launch"/>
  <include file="$(find auto_rc_car_control)/launch/start_car_sim_controls.launch"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find auto_rc_car_gazebo)/config/sensor_demo.rviz" />

</launch>