<launch>
  <arg name="robot_parameter" default="robot_description"/>

  <param name="$(arg robot_parameter)" command="$(find xacro)/xacro.py $(find auto_rc_car_description)/urdf/car_base.urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param $(arg robot_parameter) -x 0.0 -y 0.0 -z 0.5 -model racecar" respawn="false" output="screen"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find auto_rc_car_description)/config/auto_rc_car_model_rviz.rviz" required="true" />
</launch>